<!DOCTYPE html>
 
        <html class="no-js">
        
    <head>
      <% include partials/head %>
    </head>
    <body>
       <div class="container">
            <% include partials/header %>
        <main>
            <h1>Dashboard </h1>
            <hr>
            <div class="container">
                    <div class="card-deck mb-3 text-center">
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Free</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                          </ul>
                          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                        </div>
                      </div>
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>20 users included</li>
                            <li>10 GB of storage</li>
                            <li>Priority email support</li>
                            <li>Help center access</li>
                          </ul>
                          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                        </div>
                      </div>
                      <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>30 users included</li>
                            <li>15 GB of storage</li>
                            <li>Phone and email support</li>
                            <li>Help center access</li>
                          </ul>
                          <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
                        </div>
                      </div>
                    </div>
                  
                   
                  </div>
            
            <p>&nbsp;</p>
                <table class="table">
                    <thead>
                        <tr>
                         <th>Srno </th>
                         <th>firstname </th>
                         <th>lastname </th>
                         <th>email </th>
                         <th>age </th>
                         <th>phone </th>
                         <th>sex </th>
                         <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% userdata.forEach(function(userdata){ %>
                        <tr>
                                <td><%= userdata.srno %></td>
                                <td><%= userdata.firstname   %></td>
                                <td><%= userdata.lastname  %> </td>
                                <td><%= userdata.email  %> </td>
                                <td><%= userdata.age  %> </td>
                                <td><%= userdata.phone  %> </td>
                                <td><%= userdata.sex   %></td>
                                <td><a href="edit/<%= userdata.id %>">Edit</a> | <a href="delete/<%= userdata.id %>">Delete</a> </td>
                        </tr>
                        <% })%>
                    </tbody>
                </table>
            </main>
        
      
   </div> 
   
     <% include partials/footer %>
</body>
    
</html>